@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#__next {
  height: 100%;
}

